# Ignore node_modules
node_modules/

# Ignore Vite build folder
vite-projectbce/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local

# IDE settings
.vscode/
.idea/
